.person-container {
  border-bottom: 1px solid #333;
}

#jochoa {
  padding: 10px;
  background-color: #66f;
  color: #fff;
  font-style: italic;
}

#jochoa h2 {
  font-size: 2em;
}

#trau.person-container {
  background: lightblue;
  padding: 0.5em;
}
#trau ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#trau li {
  border: 1px solid purple;
  margin: 0.5em;
  padding: 0.5em;
  color: purple;
  border-radius: 0.3em;
  transition: 0.5s;
}

#trau li:hover {
  color: white;
  background: #333;
}

#sdana {
  background: rgb(49, 139, 126);
  padding: 0.5em;
  color: white;
}

#natacski {
  background: linear-gradient(to bottom right, #ffcccc 34%, #cc6699 80%);
  padding: 20px;
  border: 5px double #cc0066;
}

.lu {
  background-color: black;
  color: white;
  padding: 3rem;
  font-family: "Holtwood One SC", serif;
}
.lu h2 {
  font-family: "Holtwood One SC", serif;
  color: yellow;
}
.lu h3 {
  font-weight: bold;
  color: fuchsia;
  text-transform: uppercase;
}
.lu ul {
  list-style: none;
  padding: 0;
}

#jonathanim > h2 {
  color: lightblue;
  font-size: 30px;
}
ul.jonul {
  list-style-type: circle;
  padding-top: 15px;
}

#jonathanim {
  font-size: 20px;
  color: white;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  background-image: linear-gradient(175deg, rgba(0, 0, 0, 0) 95%, #8da389 95%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 95%, #8da389 95%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 90%, #b4b07f 90%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 92%, #b4b07f 92%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 85%, #c5a68e 85%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 89%, #c5a68e 89%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 80%, #ba9499 80%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 86%, #ba9499 86%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 75%, #9f8fa4 75%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 83%, #9f8fa4 83%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 70%, #74a6ae 70%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 80%, #74a6ae 80%);
}

.martina {
  background-color: #fdbc67;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
}
.martina .fa {
  padding-right: 15px;
}

.abel {
  background-color: #5e35b1;
  color: #fff;
  padding: 1em;
  font-family: "Ubuntu";
}

.abel-ul {
  list-style: none;
}

#hvierma20 {
  padding: 10px;
  
  background-image: url(https://images.unsplash.com/photo-1592099086579-047cab88633c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  color: palevioletred; 
  font-style: italic;
  text-align: center;
  font-size: 30px;
}

#hvierma20 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#hvierma20 li {
  border: 1px solid lightcoral;
  margin: 0.5em;
  padding: 0.5em;
  color:rgb(235, 36, 36);
  border-radius: 0.3em;
  transition: 0.5s;
}

.carbajal {
  background-color: #7851a9;
}

.carbajal-ul {
  list-style: none;
}

#andreahg.person-container {
  background: #0c122e;
  padding: 1.5em;
  color: white;
}

.andreahg-heading {
  font-family: "Roboto Mono", monospace;
}

#andreahg p {
  color: #b5c4ff;
  font-weight: 500;
  line-height: 160%;
  font-family: "Open sans", monospace;
}

#andreahg ul {
  list-style: none;
}

#andreahg li {
  color: #b5c4ff;
  font-weight: 500;
  line-height: 160%;
  font-family: "Open sans", monospace;
}

.Arm {
  background-color: black;
  font-family: monospace;
}

.sadric {
  background-color: orange;
  color: white;
  padding: 1.2em;
  font-family: "Courier New"
}

